<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>{% block title %} Main Page {% endblock %}</title>
</head>
<body>
    
    <div class="sidebar">
        <form method="POST" action="{{ url_for('upload_folder') }}" enctype="multipart/form-data">
            <label for="folderUpload" class="upload-label">
                <i class="bi bi-upload"></i> Upload Folder
            </label>
            <input type="file" id="folderUpload" name="images" webkitdirectory directory multiple accept="image/*" onchange="this.form.submit()">
        </form>
    </div>


    <div class="main-content">
        <h2>Uploaded Images</h2>
        {% if images %}
        <table>
            <tr>
                <th>Filename</th>
                <th>Preview</th>
            </tr>
            {% for image in images %}
            <tr>
                <td>{{ image }}</td>
                <td><img src="{{ url_for('static', filename='uploads/' + image) }}" alt="{{ image }}"></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No images uploaded yet.</p>
        {% endif %}

    </div>
</body>
</html>